**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/group-by-having-count).**

---

# Introduction

Queries with **GROUP BY** can be powerful. There are many small things that can trip you up (like the order of the clauses), but it will start to feel natural once you've done it a few times. Here, you'll write queries using **GROUP BY** to answer questions from the Hacker News dataset.

Before you get started, run the following cell to set everything up:

In [1]:
# Set up feedback system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex3 import *
print("Setup Complete")

Using Kaggle's public dataset BigQuery integration.

/usr/local/lib/python3.11/dist-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

Setup Complete

The code cell below fetches the `full` table from the `hacker_news` dataset.  We also preview the first five rows of the table.

In [2]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

# Preview the first five lines of the table
client.list_rows(table, max_results=5).to_dataframe()

Using Kaggle's public dataset BigQuery integration.

,title,url,text,dead,by,score,time,timestamp,type,id,parent,descendants,ranking,deleted
0,None,None,None,<NA>,None,<NA>,1437315311,2015-07-19 14:15:11+00:00,story,9911245,<NA>,<NA>,<NA>,<NA>
1,None,None,None,<NA>,None,<NA>,1437317776,2015-07-19 14:56:16+00:00,story,9911368,<NA>,<NA>,<NA>,<NA>
2,None,None,None,<NA>,None,<NA>,1437320111,2015-07-19 15:35:11+00:00,story,9911485,<NA>,<NA>,<NA>,<NA>
3,None,None,None,<NA>,None,<NA>,1437324350,2015-07-19 16:45:50+00:00,story,9911745,<NA>,<NA>,<NA>,<NA>
4,None,None,None,<NA>,None,<NA>,1437324814,2015-07-19 16:53:34+00:00,story,9911780,<NA>,<NA>,<NA>,<NA>

# Exercises

### 1) Prolific commenters

Hacker News would like to send awards to everyone who has written more than 10,000 posts. Write a query that returns all authors with more than 10,000 posts as well as their post counts. Call the column with post counts `NumPosts`.

In case sample query is helpful, here is a query you saw in the tutorial to answer a similar question:
```
query = """
        SELECT parent, COUNT(1) AS NumPosts
        FROM `bigquery-public-data.hacker_news.full`
        GROUP BY parent
        HAVING COUNT(1) > 10
        """
```

In [22]:
# Query to select prolific commenters and post counts
prolific_commenters_query = """
   SELECT `by` AS author, COUNT(1) AS NumPosts
FROM `bigquery-public-data.hacker_news.full`
GROUP BY `by`
HAVING COUNT(1) > 10000
"""

# Set up the query (limit set to 10 GB for safety)
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed=10**10)
query_job = client.query(prolific_commenters_query, job_config=safe_config)

# API request - run the query, and return a pandas DataFrame
prolific_commenters = query_job.to_dataframe()

# View top few rows of results
print(prolific_commenters.head())

# Check your answer
q_1.check()

/usr/local/lib/python3.11/dist-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

        author  NumPosts
0       baddox     10313
1           nl     12098
2  mixmastamyk     11141
3      mooreds     22671
4          rdl     10347

Correct

For the solution, uncomment the line below.

In [5]:
#q_1.solution()

### 2) Deleted comments

How many comments have been deleted? (If a comment was deleted, the `deleted` column in the table will have the value `True`.)

In [40]:
# Write your query here and figure out the answer
# Query to determine how many posts were deleted
deleted_posts_query = """SELECT COUNT(1) AS num_deleted_posts
                           FROM `bigquery-public-data.hacker_news.full`
                           WHERE deleted = True """

# Set up the query
query_job = client.query(deleted_posts_query)

# API request - run the query, and return a pandas DataFrame
deleted_posts = query_job.to_dataframe()

# View results
deleted_posts

/usr/local/lib/python3.11/dist-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   num_deleted_posts
0                  0

In [41]:
num_deleted_posts = deleted_posts.loc[0, 'num_deleted_posts'] 



# Check your answer
q_2.check()

Correct

For the solution, uncomment the line below.

In [30]:
#q_2.solution()

# Keep Going
**[Click here](https://www.kaggle.com/dansbecker/order-by)** to move on and learn about the **ORDER BY** clause.

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*