**This notebook is an exercise in the [SQL](https://www.kaggle.com/learn/intro-to-sql) course.  You can reference the tutorial at [this link](https://www.kaggle.com/dansbecker/getting-started-with-sql-and-bigquery).**

---

# Introduction

The first test of your new data exploration skills uses data describing crime in the city of Chicago.

Before you get started, run the following cell. It sets up the automated feedback system to review your answers.

In [1]:
# Set up feedack system
from learntools.core import binder
binder.bind(globals())
from learntools.sql.ex1 import *
print("Setup Complete")

/usr/local/lib/python3.11/dist-packages/learntools/sql/ex1.py:64: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (type(fields_for_plotting[0] == str), "The first item in `fields_for_plotting` should be a string.")
/usr/local/lib/python3.11/dist-packages/learntools/sql/ex1.py:65: SyntaxWarning: assertion is always true, perhaps remove parentheses?
  assert (type(fields_for_plotting[1] == str), "The second item in `fields_for_plotting` should be a string.")

Using Kaggle's public dataset BigQuery integration.
Setup Complete

Use the next code cell to fetch the dataset.

In [27]:
from google.cloud import bigquery

# Create a "Client" object
client = bigquery.Client()

# Construct a reference to the "chicago_crime" dataset
dataset_ref = client.dataset("chicago_crime", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

Using Kaggle's public dataset BigQuery integration.

# Exercises

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?

In [28]:
# Write the code you need here to figure out the answer
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

crime

In [30]:
tables = list(client.list_tables(dataset))
num_tables = len(tables)

# Check your answer
q_1.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [5]:
q_1.hint()
q_1.solution()

Hint: Use the `list_tables()` method to get a list of the tables in the dataset.

Solution:
```python

# List all the tables in the "chicago_crime" dataset
tables = list(client.list_tables(dataset))

# Print number of tables in the dataset
print(len(tables))

num_tables = 1

```

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?

In [32]:
# Write the code to figure out the answer
table_ref = dataset_ref.table("crime")

# API request - fetch the table
table = client.get_table(table_ref)

In [33]:
num_timestamp_fields = sum(1 for field in table.schema if field.field_type == "TIMESTAMP")
print(num_timestamp_fields)
# Check your answer
q_2.check()

2

Correct

For a hint or the solution, uncomment the appropriate line below.

In [15]:
#q_2.hint()
#q_2.solution()

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?

In [ ]:
# Write the code here to explore the data so you can find the answer

In [34]:
fields_for_plotting = ['latitude', 'longitude'] # Put your answers here

# Check your answer
q_3.check()

Correct

For a hint or the solution, uncomment the appropriate line below.

In [24]:
#q_3.hint()
#q_3.solution()

Thinking about the question above, there are a few columns that appear to have geographic data. Look at a few values (with the `list_rows()` command) to see if you can determine their relationship.  Two columns will still be hard to interpret. But it should be obvious how the `location` column relates to `latitude` and `longitude`.

In [36]:
# Scratch space for your code
client.list_rows(table, selected_fields=table.schema, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,12126240,JD321197,2020-08-05 01:00:00+00:00,0000X E LAKE ST,0261,CRIMINAL SEXUAL ASSAULT,AGGRAVATED - HANDGUN,SIDEWALK,False,False,...,42,32,02,1176513.0,1901749.0,2020,2020-08-12 15:41:51+00:00,41.885752,-87.627261,"(41.885752167, -87.627260665)"
1,7216226,HR631667,2009-11-07 18:48:00+00:00,005XX W MADISON ST,0312,ROBBERY,ARMED:KNIFE/CUTTING INSTRUMENT,RESTAURANT,False,False,...,42,28,03,1172605.0,1900295.0,2009,2018-02-28 15:56:25+00:00,41.881850,-87.641655,"(41.881849637, -87.641654542)"
2,13604042,JH436313,2024-09-20 01:30:00+00:00,001XX N STATE ST,0312,ROBBERY,ARMED - KNIFE / CUTTING INSTRUMENT,CTA TRAIN,False,False,...,42,32,03,1176330.0,1901649.0,2024,2025-05-17 15:40:52+00:00,41.885482,-87.627936,"(41.885481891, -87.627935689)"
3,10862745,JA168873,2017-02-27 12:43:00+00:00,001XX N STATE ST,0313,ROBBERY,ARMED: OTHER DANGEROUS WEAPON,DEPARTMENT STORE,True,False,...,42,32,03,1176352.0,1900927.0,2017,2018-02-10 15:50:01+00:00,41.883500,-87.627877,"(41.883500187, -87.627876698)"
4,10685832,HZ438904,2016-09-18 01:45:00+00:00,0000X E RANDOLPH ST,031A,ROBBERY,ARMED: HANDGUN,STREET,False,False,...,42,32,03,1176485.0,1901290.0,2016,2018-02-10 15:50:01+00:00,41.884493,-87.627377,"(41.884493278, -87.627377352)"

# Keep going

You've looked at the schema, but you haven't yet done anything exciting with the data itself. Things get more interesting when you get to the data, so keep going to **[write your first SQL query](https://www.kaggle.com/dansbecker/select-from-where).**

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/intro-to-sql/discussion) to chat with other learners.*